<!DOCTYPE html>
<html>
	<head>
		<title>Django Ecommerce</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	</head>
	<body>
		<nav class="navbar navbar-inverse">
	      <div class="container-fluid">
	        <div class="navbar-header">
	          <a class="navbar-brand" href="{% url 'main:index' %}">Django Ecommerce</a>
	        </div>

	        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
	          <ul class="nav navbar-nav">
	            <li><a href="{% url 'cart:index' %}">Cart</a></li>

	            {% if user.is_authenticated %}
		            <li>{{ user.username }}</li>
		            <li><a href="{% url 'authenticate:logout' %}">Logout</a></li>
	            {% else %}
		            <li><a href="{% url 'authenticate:login' %}">Login</a></li>
		            <li><a href="{% url 'authenticate:register' %}">Register</a></li>
	            {% endif %}

	          </ul>
	        </div>
	      </div>
	    </nav>
		<div class="container">
		 	<form action="{% url 'authenticate:login' %}" method="post">
		 		{% csrf_token %}
				<div class="form-group">
			    	<label for="username">Username</label>
			    	<input type="text" class="form-control" id="username" name="username" placeholder="Username">
			  	</div>
			  	<div class="form-group">
			    	<label for="password">Password</label>
			    	<input type="password" class="form-control" id="password" name="password" placeholder="Password">
			  	</div>
			  	<button type="submit" class="btn btn-primary">Login</button>
			</form>
			{% if message %}
			<div class="alert alert-danger" role="alert">
  				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  				<span class="sr-only">Error:</span>
  				{{ message }}
			</div>
			{% endif %}
		</div>
	</body>
</html>
