<!DOCTYPE html>
<html>
	<head>
		<title>Django Ecommerce</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	</head>
	<body>
		<nav class="navbar navbar-inverse">
	      <div class="container-fluid">
	        <div class="navbar-header">
	          <a class="navbar-brand" href="{% url 'main:index' %}">Django Ecommerce</a>
	        </div>

	        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
	          <ul class="nav navbar-nav">
	            <li><a href="{% url 'cart:index' %}">Cart</a></li>

	            {% if user.is_authenticated %}
		            <li class="active"><a style="pointer-events:none;" href="#"> User: {{ user.username }} <span class="sr-only">(current)</span></a></li>
		            <li><a href="{% url 'authenticate:logout' %}">Logout</a></li>
	            {% else %}
		            <li><a href="{% url 'authenticate:login' %}">Login</a></li>
		            <li><a href="{% url 'authenticate:register' %}">Register</a></li>
	            {% endif %}

	          </ul>
	        </div>
	      </div>
	    </nav>
		<div class="container">
		  	<form action="{% url 'authenticate:register' %}" method="post">
				{% csrf_token %}
				{{ userForm.as_p }}
				<button type="submit" class="btn btn-primary">Register</button>
			</form>
		</div>
	    

	</body>
</html>