<!DOCTYPE html>
<html>
	<head>
		<title>Django Ecommerce</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	</head>
	<body>
		<nav class="navbar navbar-inverse">
	      <div class="container-fluid">
	        <div class="navbar-header">
	          <a class="navbar-brand" href="{% url 'main:index' %}">Django Ecommerce</a>
	        </div>

	        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
	          <ul class="nav navbar-nav">
	            <li><a href="{% url 'cart:index' %}">Cart</a></li>

	            {% if user.is_authenticated %}
		            <li class="active"><a style="pointer-events:none;" href="#"> User: {{ user.username }} <span class="sr-only">(current)</span></a></li>
		            <li><a href="{% url 'authenticate:logout' %}">Logout</a></li>
	            {% else %}
		            <li><a href="{% url 'authenticate:login' %}">Login</a></li>
		            <li><a href="{% url 'authenticate:register' %}">Register</a></li>
	            {% endif %}

	          </ul>
	        </div>
	      </div>
	    </nav>
		<div class="container">
		  <div class="row">
		  		{% if products %}
				{% for product in products %}
				<div class="col-md-6">
				    <div class="thumbnail">
				    	<img width="200" height="200" src="{{ product.image }}">
				      	<div class="caption">
				        	<h3>{{ product.name }}</h3>
				        	<p>{{ product.description }} </p>
				        	<p>{{ product.price }}</p>
				        	<form action="{% url 'cart:add' product.id %}" method="post">
				        		{% csrf_token %}
								Quantity: <input type="number" min="1" name="quantity" value="1" />
								<button type="submit" class="btn btn-primary">Add to Cart</button>
							</form>
				      	</div>
				    </div>
				</div>
				{% endfor %}
				{% endif %}
			</div>
		</div>
	</body>
</html>